cmake
einops
torchtyping
typeguard
transformers
huggingface-hub
gdown 
cython
tqdm
timm
tokenizers
accelerate
git+https://github.com/openai/CLIP.git
git+https://github.com/mlfoundations/open_clip
deepspeed
wandb
